.encryptedKey.json
node_modules
.env
coverage
coverage.json
typechain

#ViteJS files
!**/glob-import/dir/node_modules
.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache
*.mjs

#Hardhat files
cache
artifacts
gas-report.txt
typechain-types
gas-report.txt 
package-lock.json


#myFiles
/readMeRohit
readMeRohit